h1 {
    margin-top: 1%;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 0px;
}

p {
    padding-top: 0px;
    margin-top: 0px;
}

header {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 20px;
    background: linear-gradient(to bottom right, #d8b5ff, #ffc3c3, #ffdbb4);
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 60vw;
    height: 60vh;
    display: block;
    margin: 0 auto;
}

.centered-width-60 {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-link {
    color: #888;
    cursor: pointer;
}

.button-link:hover {
    color: #000;
    transform: scale(1.05);
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.9s, transform 0.2s;
    background: linear-gradient(45deg, #f6ac69, #d55c7a); 
    background-size: 200% 200%; 
    animation: gradientChange 2s linear infinite; 
}

.button:hover {
    transform: scale(1.05);
}

.button:focus {
    outline: none;
}

.back-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 9px;
    background-color: transparent;
    border: 0px;
}

.back-link:hover {
    color: #999;
}

.input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
    height: 24px;
    position: relative;
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid white;
    color: white;
    
}

.input[type="text"]:focus{
    background-color: transparent;
    border: 3px solid white;

}

.input::placeholder {
    text-align: center;
    color: #fff;
}

